/* Общие стили */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

/* Стилизация шапки (header) */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1720px;
    margin: 20px auto;
}

.header_ul{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    gap: 40px;
}
.header_ul li{
    color: black;
}

.header input[type="search"] {
    width: 257.14px;
    height: 50px;
    border-radius: 20px;
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

.header input[type="search"]::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    position: absolute;
    left: 45px;
}

/* Добавление спец. эффектов для хедера (Начало)*/
.header_ul a li{
    text-decoration: none;
    color: black; /* Черный цвет текста по умолчанию */
    position: relative;
}

.header_ul a li:hover {
    color: red; /* Красный цвет текста при наведении */
}

.header_ul a li::before {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background-color: red;
    bottom: -5px;
    transition: 0.4s ease;
}

.header_ul a li:hover::before {
    width: 100%;
}
/* Добавление спец. эффектов для хедера (Конец)*/

.reg-autor a li:last-child{
    margin-left: 30px;
}

.reg-autor a img:last-child{
    margin-left: 30px;
}
.reklama{
    max-width: 1630px;
    margin: 40px auto;
}

.our_categories{
    max-width: 1410px;
    margin: 0 auto;
}

.head_our_categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_our_categories h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.head_our_categories a p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
}

.categories{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

.categories a{
    color: #000000;
}

.category{
    width: 138px;
    height: 190px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 20px;

}

.category img{
    margin-left: 19px;
    margin-top: 19px;
}

.category h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 19px;
    text-align: center;
}

.New_Sushi{
    max-width: 1380px;
    margin: 100px auto;
}

.New_Sushi .head_our_categories a{
    padding: 8px 35px;
    border: 1px solid #000000;
    border-radius: 30px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

.Cards_New_Sushi {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 1380px;
    margin: 50px auto;
}

.cards_New_Sushi {
    background-color: #F2F2F2;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}
#New_image{
    position: relative;
    top: 5px;
    left: 5px;
}

#Philadelphia_Rolls{
    position: relative;
    left: 46px;
    top: 10px;
}
#Onigiri_Rolls{
    position: relative;
    top: 9px;
    left: 70px;
}

.Name_food{
    position: relative;
    top: 22px;
    left: 21px;
}
.Name_food h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}
.Name_food h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #565656;
    margin-top: 10px;
}
.Add_in_Bug{
    padding: 8px 32px;
    border-radius: 30px;
    border: none;
    background-color: #E50513;
}
.Add_in_Bug p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
}
.button_with_price h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.button_with_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 258px;
    position: relative;
    top: 34px;
    left: 21px;
}

/* Раздел инфографики */
.Back_infographics {
    background-image: url(images/infographics/Background_for_infographics.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 566px;
}

.back_infographics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1380px;
    margin: 0px auto;
}
.infographic_property{
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin-top: 130px;
}
.infographic_property h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: white;
}
.content_infographic img{
    position: relative;
    top: 50px;
    left: 100px;
}
.content_infographic h3{
    margin-top: 70px;
}

/* Раздел с новостями */
.card_News{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    width: 380px;
    height: 400px;
    background-image: url(images/News/Back_News.png);
}
.content_News{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1380px;
    margin: 48px auto;
}
.content_card_News{
    position: relative;
    left: 24px;
}
.card_News h1{
    font-size: 32px;
    position: relative;
    top: 50px;
}
.card_News h3{
    font-size: 20px;
    width: 340px;
    position: relative;
    top: 80px;
}
#card_News_h3{
    color: #BCBCBC;
    position: relative;
    top: 100px;
}
.btn_news{
    position: relative;
    top: 120px;
    left: 270px;
}
.btn_news button{
    background-color: #E50513;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50px;
}

/* Раздел с отзывами */
.Card_Reviews{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1380px;
    margin: 50px auto;
}
.card_reviews{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 380px;
    height: 400px;
    background-image: url(images/reviews/back_reviews.png);
}
.image_user{
    position: relative;
    top: 20px;
    left: 140px;
}
.review_user p{
    font-size: 18px;
    width: 300px;
    position: relative;
    top: 30px;
    left: 40px;
}
.review_user h3{
    font-weight: 700;
    font-size: 20px;
    position: relative;
    left: 125px;
    top: 112px;
}

/* Раздел с поставщиками */
.content_supplies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1376px;
    margin: 50px auto;
}

/* Футер (подвал) */
.footer{
    position: relative;
    width: 100vw;
    height: 631px;
    background-color: #272727;
    font-family: 'Montserrat', sans-serif;
}

.Content_footer{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
}
.Content_footer{
    position: relative;
    top: 100px;
}

.ryads{
    display: flex;
    justify-content: space-between;
    max-width: 381px;
    font-weight: 600;
}

/* Добавление спец. эффектов для футера (Начало) */
.ryad_1 a {
    position: relative;
    text-decoration: none;
    color: black;
}

.ryad_1 a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transition: 0.4s ease;
}

.ryad_1 a:hover::after {
    width: 100%;
}
/* Добавление спец. эффектов для футера (Конец) */

.ryad_1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 32px;
}
.ryad_1 a{
    color: white;
}

.ryad_1_content_contact_data h1{
    color: #898989;
    font-size: 32px;
}
.ryad_1_content_contact_data a h2{
    color: white;
}
.footer_tels{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.ryad_2_content_contact_data{
    margin-top: 35px;
}
.ryad_2_content_contact_data h1{
    font-size: 32px;
    color: #898989;
}
.ryad_2_content_contact_data h2{
    font-size: 26px;
    color: #FFFFFF;
    margin-top: 20px;
}
.email p{
    font-size: 24px;
    color: #FFFFFF;
    width: 620px;
}
#footer_email {
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    background-color: #D9D9D9;
    margin-top: 30px;
}
input[type="email"]::placeholder{
    position: relative;
    top: 3px;
    left: 21px;
    font-size: 24px;
    font-weight: 400;
    color: #838383;
}
.soc_network{
    margin-top: 50px;
}
.soc_network h1{
    color: #898989;
    font-size: 32px;
}
.icon_soc_network{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 190px;
}

/* Стилизация страницы с контактами (contacts.html) */
.contacts{
    display: flex;
    justify-content: space-between;
    align-items:end;
    max-width: 1500px;
    margin: 0 auto;
}
.link_to_back{
    font-family: 'Montserrat', sans-serif;
}
.link_to_back h1{
    font-size: 32px;
    margin-top: 25px;
}
#link_to_back_a{
    font-size: 14px;
    color: black;
}
.info_about_contacts{
    margin-top: 20px;
}
.info_about_contacts h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.info_about_contacts a, .info_about_contacts p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.info_about_contacts a{
    color: black;
    position: relative;
    top: 10px;
}
.info_about_contacts p{
    margin-top: 10px;
}
.text_info_contacts{
    margin-top: 50px;
}
.requisites{
    margin-top: 100px;
    margin-left: 90px;
}
.requisites h1, .requisites h2, .info_requisites p{
    font-family: 'Montserrat', sans-serif;
}
.requisites h1{
    font-size: 32px;
}
.requisites h2{
    font-size: 20px;
    margin-top: 20px;
}
.info_requisites{
    display: flex;
    margin-top: 30px;
}
.info_requisites p{
    font-size: 20px;
}
#i_p_requisites{
    margin-left: 41px;
}
#address_requisites{
    margin-left: 30px;
}
#i_p_requisites_1{
    margin-left: 200px;
}
#i_p_requisites_2{
    margin-left: 203px;
}
#i_p_requisites_3{
    margin-left: 191px;
    margin-bottom: 100px;
}

/* Стилизация страницы личного кабинета (personal_account.html) */
.form_personal_account{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 220px;
    top: 50px;
}
.form_personal_account h1{
    font-size: 32px;
}
.form_personal_account h2{
    font-size: 24px;
    margin-top: 20px;
}
.element_form_personal_account{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#element_form_personal_account_first_child{
    margin-top: 40px;
}
#element_form_personal_account_last_child{
    margin-bottom: 30px;
}
#element_form_personal_account_last_child input{
    position: relative;
    bottom: 30px;
}
.element_form_personal_account label{
    font-size: 20px;
    margin-bottom: 10px;
}
.element_form_personal_account input::placeholder, .element_form_personal_account input{
    font-size: 14px;
}
.element_form_personal_account input::placeholder{
    font-weight: normal;
}
.element_form_personal_account input{
    font-weight: 600;
    background-color: #F4F4F4;
    width: 290px;
    height: 40px;
    border: none;
    border-radius: 30px;
    padding-left: 10px;
}
.button_and_links_form{
    display: flex;
    flex-direction: column;
}
.button_save_form button{
    font-weight: lighter;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: #E50513;
    padding: 5px 34px;
}
#Log_out_of_your_account{
    font-size: 16px;
    color: black;
    text-decoration: underline;
    text-decoration-style: dotted;
    margin-top: 50px;
}
#Del_account{
    font-size: 16px;
    color: #E50513;
    margin-top: 18.5px;
    margin-bottom: 150px;
}

/* Стилизация авторизации и регистрации (login.html и register.html) */
/* Стилизация страницы авторизации (login.html) */
.form_register{
    width: 500px;
    border: 3px solid #E50513;
    border-radius: 30px;
    margin: 70px auto;
}

.form_register h1, .form_register h3, .Contents_form_register label, .Forgot_Password{
    font-family: 'Montserrat', sans-serif;
}
.form_register h1{
    font-size: 48px;
    text-align: center;
    margin-top: 36px;
}
.form_register h3{
    font-size: 24px;
}
.Contents_form_register label, .input_and_label_form_register input{
    font-size: 20px;
    font-weight: bold;
}
#input_and_label_form_register_email{
    margin-top: 40px;
}
.input_and_label_form_register{
    margin-top: 20px;
}
.input_and_label_form_register input[type="password"]::placeholder{
    font-weight: 600;
    padding-left: 10px;
}
.Contents_form_register{
    width: 334px;
    margin: 0 auto;
    margin-top: 50px;
}
.input_and_label_form_register input{
    width: 300px;
    height: 40px;
    background-color: #F4F4F4;
    border: 3px solid #ACACAC;
    border-radius: 10px;
    margin-top: 10px;
}

.User_Agreement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
/* Стилизация чекбокса для подтверждения о согласии с пользовательским соглашением */
.User_Agreement input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    border: 3px solid #ACACAC;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
}
.User_Agreement input[type="checkbox"]::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    visibility: hidden;
}
.User_Agreement input[type="checkbox"]:checked::before {
    visibility: visible;
    content: '✔'; /* Заменяем на символ галочки */
    font-size: 16px; /* Уменьшаем размер для галочки */
    color: #000000;
}
.User_Agreement label{
    font-size: 16px;
    width: 300px;
}
/* Стилизация кнопки отправления данных формы */
.button_submit button{
    width: 240px;
    margin-left: 40px;
}
.button_submit_reg_auto{
    background-color: #E50513;
    border: none;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.button_submit_reg_auto p{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 30px;
}
#Autor_from_Register{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 20px;
}
/* Стилизация страницы регистрации (register.html) */
.Forgot_Password{
    margin-top: 23px;
}
.Forgot_Password a{
    font-size: 24px;
    color: #000000;
    text-decoration: underline;
}

/* Адаптив страниц для планшетных и мобильных устройств */
/* Адаптация шапки сайта для разных размеров экрана */
/* Адаптация шапки для экранов шириной 1024px */
@media only screen and (max-width: 1024px) {
    .header {
        max-width: 1024px;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}

/* Адаптация шапки для экранов шириной 1440px */
@media only screen and (max-width: 1440px) {
    .header {
        max-width: 1440px;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .reklama{
        transform: scale(0.6);
        position: relative;
        left: -10%;
    }
}

/* Адаптация шапки для экранов шириной 1600px */
@media only screen and (max-width: 1600px) {
    .header {
        max-width: 1600px;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .reklama{
        transform: scale(0.6);
        position: relative;
        left: -18%;
        top: -60px;
    }
}

/* Адаптация подвала для экранов шириной 1024px */
@media only screen and (max-width: 1024px) {
    .footer {
        min-height: 1000px;
        padding: 50px 0;
    }

    .Content_footer {
        flex-direction: column;
        align-items: center;
    }

    .ryads {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: unset;
    }

    .Content_footer .content_footer {
        margin-top: 50px;
        text-align: center;
    }

    .email_and_soc_network {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .email {
        margin-bottom: 20px;
    }

    .footer h1,
    .footer h2,
    .footer p {
        font-size: 16px; /* Подходящий размер шрифта для меньших экранов */
    }

    .reklama{
        transform: scale(0.4);
        position: relative;
        left: -20%;
        top: -80px;
    }
}

/* Адаптация подвала для экранов шириной 1440px */
@media only screen and (max-width: 1440px) {
    .footer {
        height: 500px;
        padding: 50px 0;
    }

    .Content_footer .content_footer {
        margin-top: 50px;
        text-align: center;
    }

    .email_and_soc_network {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .email {
        margin-bottom: 20px;
    }

    .footer h1,
    .footer h2,
    .footer p {
        font-size: 18px; /* Подходящий размер шрифта для меньших экранов */
    }

    .icon_soc_network a img{
        transform: scale(0.8);
    }
}



/* Адаптив главной страницы (index.html) */
/* Адаптация шапки для мобильных устройств и планшетов */
@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column; /* Располагаем элементы вертикально на узких экранах */
        text-align: center; /* Выравниваем текст по центру */
    }

    .header_ul {
        flex-direction: column;
        gap: 20px; /* Уменьшаем отступ между пунктами меню */
        font-size: 18px; /* Уменьшаем размер шрифта для лучшей читаемости */
    }

    .header input[type="search"] {
        width: 200px; /* Уменьшаем ширину поискового поля */
        margin: 10px auto; /* Центрируем поисковое поле */
    }

    .reg-autor {
        margin-top: 10px; /* Уменьшаем отступ между "Авторизацией" и "Корзиной" */
    }
}

/* Адаптация шапки для планшетов */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header_ul {
        font-size: 20px; /* Уменьшаем размер шрифта для планшетов */
    }
}

/* Адаптация рекламного баннера для мобильных устройств и планшетов */
@media only screen and (max-width: 768px) {
    .reklama {
        display: none;
    }
}


/* Адаптация блока с категориями для мобильных устройств и планшетов */
@media only screen and (max-width: 768px) {
    .our_categories {
        max-width: 90%; /* Установка максимальной ширины */
        margin: 0 auto; /* Центрирование блока */
    }

    .head_our_categories {
        flex-direction: column; /* Расположение элементов вертикально */
        align-items: center; /* Центрирование элементов */
    }

    .head_our_categories h1 {
        font-size: 24px; /* Уменьшение размера шрифта заголовка */
        margin-bottom: 20px; /* Увеличение отступа между заголовком и кнопкой */
    }

    .head_our_categories a p {
        font-size: 16px; /* Уменьшение размера шрифта текста кнопки */
    }

    .categories {
        flex-wrap: wrap; /* Обертывание категорий на узких экранах */
        justify-content: center; /* Центрирование категорий */
        margin: 20px auto; /* Увеличение отступа между категориями */
    }

    .category {
        width: 120px; /* Уменьшение ширины категории */
        height: 160px; /* Уменьшение высоты категории */
        margin-bottom: 20px; /* Увеличение отступа между категориями */
    }

    .category img {
        margin-left: auto; /* Центрирование изображения внутри категории */
        margin-right: auto;
    }

    .category h6 {
        font-size: 14px; /* Уменьшение размера шрифта названия категории */
    }
}

/* Адаптация раздела "Новинки" для мобильных устройств и планшетов */
@media only screen and (max-width: 768px) {
    .New_Sushi {
        max-width: 90%; /* Установка максимальной ширины */
        margin: 50px auto; /* Центрирование блока */
    }

    .Cards_New_Sushi {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Изменение количества столбцов */
        gap: 10px; /* Уменьшение отступов между карточками */
    }

    .cards_New_Sushi {
        transform: scale(0.8);
    }

    #New_image {
        left: 6px; /* Изменение позиции иконки новинки */
        top: 3px;
    }

    #Philadelphia_Rolls {
        left: 41px; /* Изменение позиции изображения еды */
        top: 8px;
    }

    .Name_food {
        top: 20px; /* Изменение позиции названия и веса блюда */
        left: 15px;
    }

    .button_with_price {
        top: 30px; /* Изменение позиции кнопки и цены */
        left: 15px;
    }
}

/* Адаптация раздела с инфографикой для мобильных устройств и планшетов */
@media only screen and (max-width: 768px) {
    .Back_infographics{
        height: 600px;
    }
    .back_infographics {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Создаем два столбца */
        grid-template-rows: repeat(2, auto); /* Создаем два ряда */
        justify-items: center; /* Выравниваем элементы по центру */
        max-width: 100%; /* Установка максимальной ширины */
        margin: 50px auto; /* Центрируем блок */
        position: relative;
        bottom: 130px;
    }

    .infographic_property {
        width: 100%; /* Ширина карточки на всю доступную ширину */
        height: auto; /* Подстройка высоты под содержимое */
        transform: scale(0.8); /* Уменьшаем размер карточки */
    }

    .content_infographic img {
        display: block;
        margin: 0 auto; /* Центрируем изображение по горизонтали */
        
        margin-bottom: 80px;
        margin-left: 0px; /* Сдвигаем изображение влево */
    }

    .content_infographic h3 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Адаптация раздела с новостями */
@media only screen and (max-width: 768px) {
    .content_News {
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Создаем два столбца */
        grid-template-rows: repeat(2, auto); /* Создаем два ряда */
        gap: 30px; /* Устанавливаем промежуток между элементами */
        align-items: center; /* Выравниваем элементы по центру */
        justify-items: center; /* Выравниваем элементы по центру */
    }

    .card_News {
        width: 380px; /* Уменьшаем ширину карточек для лучшего отображения на узких экранах */
        height: 400px; /* Подстраиваем высоту под содержимое */
        transform: none; /* Сбрасываем предыдущее преобразование масштабирования */
    }

    .content_card_News h1{
        font-size: 28px;
        top: 20px;
    }

    .content_card_News h3{
        top: 40px;
    }

    #card_News_h3{
        top: 60px;
    }

    .btn_news{
        transform: scale(0.8);
        top: 0px;
    }
}

/* Адаптация раздела с отзывами */
@media only screen and (max-width: 768px) {
    .Card_Reviews {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Создаем два столбца */
        grid-template-rows: repeat(1, auto); /* Создаем два ряда */
        gap: 30px; /* Устанавливаем промежуток между элементами */
        align-items: center; /* Выравниваем элементы по центру */
        justify-items: center; /* Выравниваем элементы по центру */
    }

    .card_reviews {
        width: 380px; /* Увеличиваем ширину карточек */
        height: 400px; /* Увеличиваем высоту карточек */
        transform: none; /* Сбрасываем предыдущее преобразование масштабирования */
    }

    .review_user p {
        font-size: 18px; /* Увеличиваем размер шрифта для лучшей читаемости */
        top: 20px; /* Увеличиваем верхний отступ для лучшего расположения */
    }

    .image_user {
        margin-left: -10px; /* Сдвигаем изображение влево для лучшего выравнивания */
        transform: scale(0.9); /* Уменьшаем масштаб изображения */
    }

    .review_user h3 {
        top: 30px; /* Увеличиваем верхний отступ для лучшего расположения */
    }
}




/* Адаптация раздела с поставщиками для мобильных устройств и планшетов */
@media only screen and (max-width: 768px) {
    .content_supplies {
        flex-direction: column; /* Располагаем элементы вертикально на узких экранах */
        align-items: center; /* Выравниваем элементы по центру */
        max-width: 90%; /* Установка максимальной ширины */
        margin: 50px auto; /* Центрируем блок */
    }

    .content_supplies a {
        margin-bottom: 20px; /* Добавляем отступ между изображениями */
    }
}


/* Адаптация футера для мобильных устройств и планшетов */
@media only screen and (max-width: 768px) {
    .footer{
        height: 1300px;
    }

    .Content_footer {
        flex-direction: column; /* Располагаем элементы вертикально на узких экранах */
        align-items: center; /* Выравниваем элементы по центру */
    }

    .ryads {
        flex-direction: column; /* Располагаем ряды вертикально */
        align-items: center; /* Выравниваем элементы по центру */
        gap: 30px; /* Устанавливаем промежуток между рядами */
        margin-top: 50px; /* Увеличиваем отступ сверху */
    }

    .ryad_1,
    .ryad_1_content_contact_data,
    .ryad_2_content_contact_data {
        text-align: center; /* Выравниваем текст по центру */
    }

    .content_footer {
        margin-top: 50px; /* Увеличиваем отступ сверху */
    }

    .ryad_1 {
        margin-right: 30px; /* Удаляем левый отступ у первого ряда */
    }

    .ryad_1 a::after {
        width: 0; /* Убираем эффект подчеркивания при наведении */
    }

    .ryad_1,
    .ryad_1_content_contact_data,
    .ryad_2_content_contact_data {
        margin-bottom: 20px; /* Добавляем отступ снизу для улучшения читаемости */
    }

    .email p {
        width: 90%; /* Увеличиваем ширину текста для лучшей читаемости */
        font-size: 20px; /* Уменьшаем размер шрифта */
        margin-left: 30px;
        text-align: center;
    }

    input[type="email"] {
        width: 90%; /* Увеличиваем ширину поля ввода */
        margin-left: 22px;
    }

    .icon_soc_network {
        max-width: 40%;
        margin-left: 40px;
        justify-content: center; /* Выравниваем иконки по центру */
        gap: 20px;
    }

    .soc_network{
        margin-left: 160px;
    }
    .soc_network h1{
        color: #898989;
        font-size: 32px;
    }
}

/* Адаптив страницы с контактами (contacts.vue) */
/* Адаптация страницы с контактами для мобильных устройств */
@media only screen and (max-width: 768px) {
    .contacts {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 50px auto;
    }

    .link_to_back h1 {
        font-size: 24px;
        margin-top: 10px;
    }

    #link_to_back_a {
        font-size: 12px;
    }

    .text_info_contacts {
        margin-top: 30px;
    }

    .info_about_contacts {
        margin-top: 10px;
    }

    .info_about_contacts h2, .info_about_contacts a, .info_about_contacts p {
        font-size: 16px;
    }

    .info_about_contacts a {
        position: static;
        margin-top: 5px;
    }

    .map_in_contacts{
        min-width: 450px;
        margin-top: 40px;
    }

    .requisites {
        margin-top: 50px;
        margin-left: 100px;
    }

    .requisites h1 {
        font-size: 24px;
    }

    .requisites h2 {
        font-size: 16px;
        margin-top: 10px;
    }

    .info_requisites {
        margin-top: 0;
        line-height: 30px;
        flex-direction: column;
    }

    .info_requisites p {
        font-size: 16px;
        margin-top: 5px;
    }

    #i_p_requisites,
    #address_requisites {
        margin-left: 0;
        line-height: 20px;
    }

    #i_p_requisites_1,
    #i_p_requisites_2,
    #i_p_requisites_3 {
        margin-left: 0;
        line-height: 10px;
        margin-bottom: 20px;
    }
}

/* Адаптация страницы личного кабинета (personal_account.vue) */
@media only screen and (max-width: 768px) {
    .form_personal_account{
        left: 160px;
    }

    #element_form_personal_account_last_child{
        width: 56%;
        position: relative;
        left: -25px;
    }
    #element_form_personal_account_last_child label{
        position: relative;
        left: 26px;
    }
}

/* Адаптация страницы регистрации (Register.vue) */
@media only screen and (max-width: 768px) {
    .form_register{
        transform: scale(0.8);
    }
    #E-mail_register{
        position: relative;
        left: -22px;
    }
}