/* Общие стили */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

/* Стилизация шапки (header) */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1720px;
    margin: 20px auto;
}

.header_ul{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    gap: 40px;
}
.header_ul li{
    color: black;
}

.header input[type="search"] {
    width: 257.14px;
    height: 50px;
    border-radius: 20px;
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

.header input[type="search"]::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    position: absolute;
    left: 45px;
}

/* Добавление спец. эффектов для хедера (Начало)*/
.header_ul a li{
    text-decoration: none;
    color: black; /* Черный цвет текста по умолчанию */
    position: relative;
}

.header_ul a li:hover {
    color: red; /* Красный цвет текста при наведении */
}

.header_ul a li::before {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background-color: red;
    bottom: -5px;
    transition: 0.4s ease;
}

.header_ul a li:hover::before {
    width: 100%;
}
/* Добавление спец. эффектов для хедера (Конец)*/

.reg-autor a li:last-child{
    margin-left: 30px;
}

.reg-autor a img:last-child{
    margin-left: 30px;
}
.reklama{
    max-width: 1630px;
    margin: 40px auto;
}

.our_categories{
    max-width: 1410px;
    margin: 0 auto;
}

.head_our_categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_our_categories h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.head_our_categories a p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
}

.categories{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

.categories a{
    color: #000000;
}

.category{
    width: 138px;
    height: 190px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 20px;

}

.category img{
    margin-left: 19px;
    margin-top: 19px;
}

.category h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 19px;
    text-align: center;
}

.New_Sushi{
    max-width: 1380px;
    margin: 100px auto;
}

.New_Sushi .head_our_categories a{
    padding: 8px 35px;
    border: 1px solid #000000;
    border-radius: 30px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

.Cards_New_Sushi {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 1380px;
    margin: 50px auto;
}

.cards_New_Sushi {
    background-color: #F2F2F2;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}
#New_image{
    position: relative;
    top: 5px;
    left: 5px;
}

#Philadelphia_Rolls{
    position: relative;
    left: 46px;
    top: 10px;
}
#Onigiri_Rolls{
    position: relative;
    top: 9px;
    left: 70px;
}

.Name_food{
    position: relative;
    top: 22px;
    left: 21px;
}
.Name_food h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}
.Name_food h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #565656;
    margin-top: 10px;
}
.Add_in_Bug{
    padding: 8px 32px;
    border-radius: 30px;
    border: none;
    background-color: #E50513;
}
.Add_in_Bug p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
}
.button_with_price h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.button_with_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 258px;
    position: relative;
    top: 34px;
    left: 21px;
}

/* Раздел инфографики */
.Back_infographics {
    background-image: url(images/infographics/Background_for_infographics.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 566px;
}

.back_infographics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1380px;
    margin: 0px auto;
}
.infographic_property{
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin-top: 130px;
}
.infographic_property h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: white;
}
.content_infographic img{
    position: relative;
    top: 50px;
    left: 100px;
}
.content_infographic h3{
    margin-top: 70px;
}

/* Раздел с новостями */
.card_News{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    width: 380px;
    height: 400px;
    background-image: url(images/News/Back_News.png);
}
.content_News{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1380px;
    margin: 48px auto;
}
.content_card_News{
    position: relative;
    left: 24px;
}
.card_News h1{
    font-size: 32px;
    position: relative;
    top: 50px;
}
.card_News h3{
    font-size: 20px;
    width: 340px;
    position: relative;
    top: 80px;
}
#card_News_h3{
    color: #BCBCBC;
    position: relative;
    top: 100px;
}
.btn_news{
    position: relative;
    top: 120px;
    left: 270px;
}
.btn_news button{
    background-color: #E50513;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50px;
}

/* Раздел с отзывами */
.Card_Reviews{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1380px;
    margin: 50px auto;
}
.card_reviews{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 380px;
    height: 400px;
    background-image: url(images/reviews/back_reviews.png);
}
.image_user{
    position: relative;
    top: 20px;
    left: 140px;
}
.review_user p{
    font-size: 18px;
    width: 300px;
    position: relative;
    top: 30px;
    left: 40px;
}
.review_user h3{
    font-weight: 700;
    font-size: 20px;
    position: relative;
    left: 125px;
    top: 112px;
}

/* Раздел с поставщиками */
.content_supplies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1376px;
    margin: 50px auto;
}

/* Футер (подвал) */
.footer{
    position: relative;
    width: 100vw;
    height: 631px;
    background-color: #272727;
    font-family: 'Montserrat', sans-serif;
}

.Content_footer{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
}
.Content_footer{
    position: relative;
    top: 100px;
}

.ryads{
    display: flex;
    justify-content: space-between;
    max-width: 381px;
    font-weight: 600;
}

/* Добавление спец. эффектов для футера (Начало) */
.ryad_1 a {
    position: relative;
    text-decoration: none;
    color: black;
}

.ryad_1 a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transition: 0.4s ease;
}

.ryad_1 a:hover::after {
    width: 100%;
}
/* Добавление спец. эффектов для футера (Конец) */

.ryad_1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 32px;
}
.ryad_1 a{
    color: white;
}

.ryad_1_content_contact_data h1{
    color: #898989;
    font-size: 32px;
}
.ryad_1_content_contact_data a h2{
    color: white;
}
.footer_tels{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.ryad_2_content_contact_data{
    margin-top: 35px;
}
.ryad_2_content_contact_data h1{
    font-size: 32px;
    color: #898989;
}
.ryad_2_content_contact_data h2{
    font-size: 26px;
    color: #FFFFFF;
    margin-top: 20px;
}
.email p{
    font-size: 24px;
    color: #FFFFFF;
    width: 620px;
}
input[type="email"] {
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    background-color: #D9D9D9;
    margin-top: 30px;
}
input[type="email"]::placeholder{
    position: relative;
    top: 3px;
    left: 21px;
    font-size: 24px;
    font-weight: 400;
    color: #838383;
}
.soc_network{
    margin-top: 50px;
}
.soc_network h1{
    color: #898989;
    font-size: 32px;
}
.icon_soc_network{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 190px;
}

/* Стилизация страницы с контактами (contacts.html) */
.contacts{
    display: flex;
    justify-content: space-between;
    align-items:end;
    max-width: 1500px;
    margin: 0 auto;
}
.link_to_back{
    font-family: 'Montserrat', sans-serif;
}
.link_to_back h1{
    font-size: 32px;
    margin-top: 25px;
}
#link_to_back_a{
    font-size: 14px;
    color: black;
}
.info_about_contacts{
    margin-top: 20px;
}
.info_about_contacts h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.info_about_contacts a, .info_about_contacts p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.info_about_contacts a{
    color: black;
    position: relative;
    top: 10px;
}
.info_about_contacts p{
    margin-top: 10px;
}
.text_info_contacts{
    margin-top: 50px;
}
.requisites{
    margin-top: 100px;
    margin-left: 175px;
}
.requisites h1, .requisites h2, .info_requisites p{
    font-family: 'Montserrat', sans-serif;
}
.requisites h1{
    font-size: 32px;
}
.requisites h2{
    font-size: 20px;
    margin-top: 20px;
}
.info_requisites{
    display: flex;
    margin-top: 30px;
}
.info_requisites p{
    font-size: 20px;
}
#i_p_requisites{
    margin-left: 41px;
}
#address_requisites{
    margin-left: 30px;
}
#i_p_requisites_1{
    margin-left: 200px;
}
#i_p_requisites_2{
    margin-left: 203px;
}
#i_p_requisites_3{
    margin-left: 191px;
    margin-bottom: 100px;
}

/* Стилизация страницы личного кабинета (personal_account.html) */
.form_personal_account{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 220px;
    top: 50px;
}
.form_personal_account h1{
    font-size: 32px;
}
.form_personal_account h2{
    font-size: 24px;
    margin-top: 20px;
}
.element_form_personal_account{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#element_form_personal_account_first_child{
    margin-top: 40px;
}
#element_form_personal_account_last_child{
    margin-bottom: 30px;
}
#element_form_personal_account_last_child input{
    position: relative;
    bottom: 30px;
}
.element_form_personal_account label{
    font-size: 20px;
    margin-bottom: 10px;
}
.element_form_personal_account input::placeholder, .element_form_personal_account input{
    font-size: 14px;
}
.element_form_personal_account input::placeholder{
    font-weight: normal;
}
.element_form_personal_account input{
    font-weight: 600;
    background-color: #F4F4F4;
    width: 290px;
    height: 40px;
    border: none;
    border-radius: 30px;
    padding-left: 10px;
}
.button_and_links_form{
    display: flex;
    flex-direction: column;
}
.button_save_form button{
    font-weight: lighter;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: #E50513;
    padding: 5px 34px;
}
#Log_out_of_your_account{
    font-size: 16px;
    color: black;
    text-decoration: underline;
    text-decoration-style: dotted;
    margin-top: 50px;
}
#Del_account{
    font-size: 16px;
    color: #E50513;
    margin-top: 18.5px;
    margin-bottom: 150px;
}